<div class="container">
    <h1>Elevator Execrise</h1>
    <div class="elevator">
        <div class="floor">
            <div class="floor-index" *ngFor="let item of [].constructor(floorCount) ; let i = index">
                {{floorCount - i > 2 ? floorCount-1-i+'th' :
                (floorCount-i == 1 ? 'Ground Floor' : (floorCount-i == 2 ? floorCount-1-i+'st' : floorCount-1+'rd'))}}
            </div>
        </div>
        <div class="chart">
            <div class="floor" *ngFor="let item of [].constructor(floorCount); let j = index">
                <span class="cell" *ngFor="let item of [].constructor(eleveatorCount); let i = index">
                    <span *ngIf = "j!= floorCount - 1"></span>
                    <span *ngIf = "j == floorCount - 1" class="elevator-icon" id="elevator{{i}}"></span>
                </span>
            </div>
        </div>
        <div class="buttons">
            <div (click)="callElevator(floorCount-1-i)" class="btn" 
            [ngClass]="{'btn-call': button.status == 0, 'btn-waiting':button.status == 1, 'btn-arrived':button.status == 2 }"
            id="button{{floorCount-1-i}}"
                *ngFor="let button of buttons; let i = index  ">
                {{button.text}}
            </div>
        </div>
    </div>
</div>