<div class="container">
    <h1>Elevator Execrise</h1>
    <div class="elevator">
        <div class="floor">
            <div class="floor-index" *ngFor="let floor of reversedFloor">
                {{floor > 2 ? floor+'th' :
                (floor == 0 ? 'Ground Floor' : (floor == 1 ? '1st' : '2rd'))}}
            </div>
        </div>
        <div class="chart">
            <div class="floor" *ngFor="let item of [].constructor(floorCount); let j = index">
                <span class="cell" *ngFor="let item of [].constructor(eleveatorCount); let i = index">
                    <span *ngIf="j != floorCount - 1"></span>
                    <span *ngIf="j == floorCount - 1" class="elevator-icon" id="elevator{{i}}"></span>
                </span>
            </div>
        </div>
        <div class="buttons">
            <div (click)="callElevator(floor)" class="btn"
                [ngClass]="{'btn-call': buttons[floor].status == 0, 'btn-waiting':buttons[floor].status == 1, 'btn-arrived':buttons[floor].status == 2 }"
                id="button{{floor}}" *ngFor="let floor of reversedFloor">
                {{buttons[floor].text}}
            </div>
        </div>

    </div>
</div>